* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.button {
    background-color: #5ab88a;
}

.bg-image {
    background-image: url("../image/bg-header.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
}

.p-leading {
    line-height: 3rem;
}