* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.button {
    background-color: #5ab88a;
}

.bg-image {
    background-image: url("../image/bg-header.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
}

.p-leading {
    line-height: 3rem;
}

#container {
    max-width: 1440px;
    margin: auto;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
}

@media screen and (max-width: 1022px) {
    #container {
        padding-left: 10px;
        padding-right: 10px;
    }
}